.container {
    background-color: var(--black2);
    color: var(--pink1);
}

.social-icons {
    a {
        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }

    img {
        max-width: 2.5rem;
        height: auto;
        fill: red;
    }
}