.main-text {
    font-size: 2rem;
}

.sections-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.section-card-container {
    padding: 2rem 0;

    @media only screen and (min-width: 1024px) {
        padding: 4rem 0;
    }
}

.avatar {
    &:hover {
        animation: spin 5s linear infinite;
    }
}

.hr {
    border: 1px dashed var(--grey1);
    width: 100%;
}

.presentation-container {
    padding: 1rem 2rem;

    @media only screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        min-height: 40rem;
    }
}

.picture-container {
    display: flex;
    justify-content: center;

    @media only screen and (min-width: 1024px) {
        width: 66%;
    }
}

.company-cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: var(--default-margin);

    @media only screen and (min-width: 1024px) {
        margin-top: var(--default-margin-desktop);
    }
}

.company-card-container {
    max-width: 30rem;
    padding: 2rem;
}

.motivational {
    margin-top: var(--default-margin);
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1024px) {
        margin-top: var(--default-margin-desktop);
        flex-direction: row;

        div {
            flex-grow: 1;
            flex-basis: 0;
            text-align: left;
        }
    }
}

.motivational-section {
    padding: 0 2rem;
    text-align: left;
    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    @media only screen and (min-width: 1024px) {
        div {
            flex-grow: 1;
            flex-basis: 0;
            text-align: left;
        }
    }
}

@-moz-keyframes spin {
    from { 
        -moz-transform: rotate(0deg); 
    }
    to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin {
    from { 
        -webkit-transform: rotate(0deg); 
    }
    to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}