.main-text {
    font-size: 2rem;
}

.sections-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.avatar {
    &:hover {
        animation: spin 5s linear infinite;
    }
}

.hr {
    border: 1px dashed var(--grey1);
    width: 100%;
}

@-moz-keyframes spin {
    from { 
        -moz-transform: rotate(0deg); 
    }
    to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin {
    from { 
        -webkit-transform: rotate(0deg); 
    }
    to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}