.presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
        margin-top: 2rem;
        max-width: 75%;
    }

    @media only screen and (min-width: 576px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
            max-height: 4rem;
            max-width: auto;
        }
    }
}

.description {
    padding: 2rem 0;
    text-align: left;
}

.link {
    text-align: right;
}