.container {
    border: solid 1px var(--pink1);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s linear;

    &:hover {
        cursor: pointer;
        background-color: var(--pink1);
        color: var(--white3);
    }
}