:root {
    --white1: #FFFFFF;

    --black1: #000000;
    --black2: #0B0C10;
    --black3: #1A1A1D;

    --grey1: #EDEAE5;
    --grey2: #4E4E50;
    
    --cyan1: #026670;

    --mint1: #9FEDD7;

    --yellow1: #FEF9C7;
    --yellow2: #FCE181;

    --default-padding: 2rem;
    --default-padding-desktop: 4rem;
    --default-margin: 2rem;
    --default-margin-desktop: 4rem;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--grey1);
    color: var(--black3);
}

h1, h2, h3, a, p, div {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.margin {
    margin: var(--default-margin);

    @media only screen and (min-width: 1024px) {
        margin: var(--default-margin-desktop);
    }
}

.padding {
    padding: var(--default-padding);

    @media only screen and (min-width: 1024px) {
        padding: var(--default-padding-desktop);
    }
}

.round-border {
    border-radius: 50%;
}

.color-yellow2 {
    color: var(--yellow2);
}

.color-white1 {
    color: var(--white1);
}

.bg-black3 {
    background-color: var(--black3);
}